.bg-container {
    background-color: pink;
    height: 100vh;
    background-size: cover;
}

.tourism-card {
    text-align: center;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 15px;
}
